.bg_base_color{
    background-color: #f5b2b2;
}
.resizeimage img {
    max-width: 1280px;
    width: 100%;
}

.header_title{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}
 
table {
    border-collapse:  collapse; /* セルの線を重ねる */
}
h2{
    color: #4F5F6D;
    padding: 15px;
    font-weight: bold;
}

.c_pointer{
    cursor:pointer;
}

.mindmap_image{
    max-width: 500px;
    width: 100%;
}

.bg_row_color{
    background-color: #f2f6f9;
}
.bg_padding{
    padding: 5px;
}
.bg_col_color{
    background-color: #ffffff;
}
.bg_col_settings{
    width: 100%;
    height: 100%;
    border-radius:10px;
    padding: 15px;
}
.table_center{
    margin: auto;
}
.nav_text{
    color: white;
    font-weight: bold;
}